==
<?php
public function onStart(){
  $this['comment_title'] = trans('theme::lang.comment.your_comment');
  $this['comment_name'] = trans('theme::lang.comment.name_comment');
  $this['user_comment_name'] = trans('theme::lang.user_comment.name_user_comment');
  $this['user_comment_email'] = trans('theme::lang.user_comment.email_user_comment');
  $this['user_comment_type'] = trans('theme::lang.user_comment.type_comment');
}
?>
==
<div class="col-lg-12">
  <div class="sidebar-item comments">
    <div class="sidebar-heading">
      <h2>{{post.comments.count}} {{comment_name}} </h2>
    </div>
    <div class="content">
      {% for comment in post.comments %}
      <ul>
        <li>
          <div class="right-content">
            <h4>{{comment.name}}<span>{{comment.created_at}}</span></h4>
            <p>{{comment.content}}</p>
          </div>
        </li>
      </ul>
      {%endfor%}
    </div>
  </div>
    <div class="sidebar-item submit-comment">
      <div class="sidebar-heading">
        <h2>{{ comment_title }}</h2>
      </div>
      <div class="content">
        <form id="comment"  method="post" 
        data-request="onSave" 
        data-request-validate 
        data-request-flash>
        {{ form_token() }}
        {{ form_sessionKey() }}
          <div class="row">
            {% if not user %}
            <div class="col-md-6 col-sm-12">
              <fieldset>
                  <div>
                    <input type=hidden name=posts_id value="{{post.id}}">
                  </div>
                <input name="name" type="text" id="name" placeholder="{{ user_comment_name}}">
                <p data-validate-for="name" class="text-danger"></p>
              </fieldset>
            </div>
            <div class="col-md-6 col-sm-12">
              <fieldset>
                <input name="email" type="text" id="email" placeholder="{{ user_comment_email}}">
                <p data-validate-for="email" class="text-danger"></p>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea name="content" rows="6" id="message" placeholder="{{ user_comment_type}}"></textarea>
                <p data-validate-for="content" class="text-danger"></p>
              </fieldset>
            </div>
            {% else %}
            <div class="col-md-6 col-sm-12">
              <fieldset>
                  <div>
                    <input type=hidden name=posts_id value="{{post.id}}">
                  </div>
                <input name="name" type="text" id="name" value="{{user.name}}" placeholder="{{ user_comment_name}}">
                <p data-validate-for="name" class="text-danger"></p>
              </fieldset>
            </div>
            <div class="col-md-6 col-sm-12">
              <fieldset>
                <input name="email" type="text" id="email" value="{{user.email}}" placeholder="{{ user_comment_email}}">
                <p data-validate-for="email" class="text-danger"></p>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea name="content" rows="6" id="message" placeholder="{{ user_comment_type}}"></textarea>
                <p data-validate-for="content" class="text-danger"></p>
              </fieldset>
            </div>
            {% endif %}
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="main-button">{{comment_name}}</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div>
        {% flash success %}
            <p data-control="flash-message" data-interval="5" class="success">
                 {{ message }}
            </p>
        {% endflash %}      
    </div>
  </div>