description = "This is layout for contact page"
==
<?php
function onInit()
		{
		    Lang::addNamespace('theme', 'themes/standblog/lang');
		    App::setLocale('en'); // set locale you want
		}
?>
==
<!DOCTYPE html>
<html lang="en">
	<head>
		{% partial "html_base/meta_head" %}
	</head>
	<body>
        {% partial 'all_page/preloader' %}
		{% partial 'all_page/header' %}
        <section class="contact-us">
	      <div class="container">
	        <div class="row">	        
	          <div class="col-lg-12">
	            <div class="down-contact">
	              <div class="row">
	                <div class="col-lg-8">
                       {% page %}
	                </div>
	                <div class="col-lg-4">
	                  <div class="sidebar-item contact-information">
	                    <div class="sidebar-heading">
	                      <h2>{{ contact_info }}</h2>
	                    </div>
	                    <div class="content">
	                      <ul>
	                        <li>
	                          <h5>090-484-8080</h5>
	                          <span>{{ contact_info_phone }}</span>
	                        </li>
	                        <li>
	                          <h5>info@company.com</h5>
	                          <span>{{ contact_info_email }}</span>
	                        </li>
	                        <li>
	                          <h5>123 Aenean id posuere dui, 
	                          	<br>Praesent laoreet 10660</h5>
	                          <span>{{ contact_info_address }}</span>
	                        </li>
	                      </ul>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	          
	          <div class="col-lg-12">
	            <div id="map">
	              <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
	            </div>
	          </div>
	          
	        </div>
	      </div>
        </section>
		<footer>
            {% partial 'all_page/footer' %} 
        </footer>
            {% partial 'html_base/scripts' %}
            {% framework extras %}
	</body>
</html>